<!-- CONTACT -->
{{ with .Site.Data.contact }}
<div class="dizme_tm_section" id="contact">
  <div class="dizme_tm_contact">
    <div class="container">
      <div class="dizme_tm_main_title" data-align="center">
        <span>{{ .heading | markdownify }}</span>
        <h3>{{ .subheading | markdownify }}</h3>
        <p>{{ .text | markdownify }}</p>
      </div>
      <div class="contact_inner">
        {{ with .elements }}
        <div class="left wow fadeInLeft" data-wow-duration="1s">
          <ul>
            <li>
              <div class="list_inner">
                <div class="icon orangeBackground">
                  <i class="{{ .orangeIcon }} orangeText"></i>
                </div>
                <div class="short">
                  <h3>{{ .orangeTitle | markdownify }}</h3>
                  <span>{{ .orangeSubtitle | markdownify }}</span>
                </div>
              </div>
            </li>
            <li>
              <div class="list_inner">
                <div class="icon greenBackground">
                  <a href="{{ .greenLink | safeHTML }}"><i class="{{ .greenIcon }} greenText"></i></a>
                </div>
                <div class="short">
                  <h3>{{ .greenTitle | markdownify }}</h3>
                  <span><a href="{{ .greenLink | safeHTML }}">{{ .greenSubtitle | markdownify }}</a></span>
                </div>
              </div>
            </li>
            <li>
              <div class="list_inner">
                <div class="icon purpleBackground">
                  <a href="{{ .purpleLink | safeURL }}"><i class="{{ .purpleIcon }} purpleText"></i></a>
                </div>
                <div class="short">
                  <h3>{{ .purpleTitle | markdownify }}</h3>
                  <span><a href="{{ .purpleLink | safeURL }}">{{ .purpleSubtitle | markdownify }}</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        {{ end }}
        <div class="right wow fadeInRight" data-wow-duration="1s">
          <div class="fields">
            <form name="Website Contact Form" method="POST" class="dizme_tm_contact_form" netlify-honeypot="bot-field" data-netlify="true" id="contactForm" autocomplete="off" action="/#contact" ajax="true">
              <div class="returnmessage" data-success="Thanks for your message! I will respond as soon as I can."></div>
              <div class="input_list">
                <ul>
                  <li><label><input type="text" name="name" placeholder="Your Name" required/></label></li>
                  <li><label><input type="email" name="email" placeholder="Your Email" required/></label></li>
                  <li style="width: 100%;"><input type="text" name="subject" placeholder="Subject" required/></li>
                </ul>
              </div>
              <div class="message_area">
                <label><textarea id="message" name="message" placeholder="Tell me a little bit about your project" required></textarea></label>
              </div>
              <div class="dizme_tm_button">
                <button type="submit">{{ .buttonText | markdownify }}</button>
              </div>
            </form>
          </div>
        </div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/contact/2.png" alt="" /></div>
      </div>

    </div>
    <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="img/brushes/contact/1.png" alt="" /></div>
  </div>
</div>
{{ end }}
<!-- /CONTACT -->
