<!-- HERO -->
{{ with .Site.Data.hero.hero }}
<div class="dizme_tm_section" id="home">
  <div class="dizme_tm_hero">
    <div class="background" data-img-url="{{ .background }}"></div>
    <div class="container">
      <div class="content">
        <div class="details">
          <div class="hello">
            <h1 class="orangeText">{{ .title | markdownify }}</h1>
          </div>
          {{ with .subtitle }}
          <div class="job">
            <p><span class="greenText">{{ .green | markdownify }}</span> {{ .black | markdownify }} <span class="purpleText">{{ .purple | markdownify }}</span></p>
          </div>
          {{ end }}
          <div class="text">
            <p class="greenText">{{ .greenHeadline | markdownify }}</p>
            <p class="purpleText" style="padding-top: 5px;">{{ .purpleHeadline | markdownify }}</p>
            <p style="padding-top: 5px;">{{ .bio | markdownify }}</p>
          </div>
          <div class="button">
            <div class="dizme_tm_button">
              <a class="anchor" href="{{ .buttonURL | safeURL }}"><button>{{ .buttonText | markdownify }}</button></a>
            </div>
            <div class="social">
            {{ with .social }}
              <ul>
                {{ range .socialItems }}
                <li style="padding-right: 10px;"><a href="{{ .link | safeURL }}" target="{{ .target }}" style="font-size: 28px;"><i class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
            {{ end }}
            </div>
          </div>
        </div>
        <div class="avatar">
          <div class="image">
            <img src="{{ .bioPhoto }}" alt="Lindsay Paige Rush bio photo" />
            {{ with .skills }}
            <span class="skills illustrator anim_moveBottom"><img class="svg" src="{{ .skill1 }}" alt="{{ .alt1 }}" /></span>
            <span class="skills photoshop anim_moveBottom"><img class="svg" src="{{ .skill2 }}" alt="{{ .alt2 }}" /></span>
            <span class="skills figma anim_moveBottom"><img style="border-radius: 8px;" class="svg" src="{{ .skill3 }}" alt="{{ .alt3 }}" /></span>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="dizme_tm_down">
      <a class="anchor" href="#portfolio">
        <svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
          <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
          <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
        </svg>
      </a>
    </div>
  </div>
</div>
{{ end }}
<!-- HERO -->
