<!-- HERO -->
<div class="dizme_tm_section" id="home">
  <div class="dizme_tm_hero">
    <div class="background" data-img-url="img/slider/1.jpg"></div>
    <div class="container">
      <div class="content">
        <div class="details">
          <div class="hello">
            <h1 class="orangeText">Lindsay Paige Rush</h1>
          </div>
          <div class="job">
            <p>A <span class="greenText">Copywriter,</span> Brand Strategist & <span class="purpleText">Storyteller</span></p>
          </div>
          <div class="text">
            <p class="greenText">Looking for a writer with an alarming level of enthusiasm for words?</p> <p class="purpleText" style="padding-top: 5px;">You've come to the right place, friend.</p>
            <p style="padding-top: 5px;">I'm a copywriter with in-house and agency experience, committed to bringing ideas to life. But not just any ideas. Informed ideas—based on your audience, your brand and the cold hard reality of what the data is telling us. I like to throw some creativity and a wee bit of fairy dust into the mix as well to create marketing that's memorable. Your brand deserves a spotlight.</p>
          </div>
          <div class="button">
            <div class="dizme_tm_button">
              <a class="anchor" href="#about"><span>Work With Me</span></a>
            </div>
            <div class="social">
              <ul>
                <li style="padding-right: 10px;"><a href="#" style="font-size: 28px;"><i class="icon-linkedin-1"></i></a></li>
                <li><a href="#" style="font-size: 28px;"><i class="icon-mail-alt"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="avatar">
          <div class="image">
            <img src="img/slider/avatar.png" alt="" />
            <span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/Adobe_Acrobat_DC_logo_2020.svg" alt="" /></span>
            <span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/Adobe_InCopy_CC_icon_(2020).svg" alt="" /></span>
            <span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/ziflow.png" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="dizme_tm_down">
      <a class="anchor" href="#about">
        <svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
          <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
          <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
        </svg>
      </a>
    </div>
  </div>
</div>
<!-- HERO -->
