<!-- PORTFOLIO -->
<div class="dizme_tm_section" id="portfolio">
  <div class="dizme_tm_portfolio">
    <div class="container">
      <div class="dizme_tm_main_title" data-align="center">
        <span>Content Marketing Portfolio</span>
        <h3>Some of My Writing Projects</h3>
        <p>Is there a little introduction we could put here to describe what's in this section? Or just to describe what an amazing, mind-blowing, brilliant, creative genius you are?</p>
      </div>
      <div class="portfolio_filter">
        <ul>
          <li><a href="#" class="current" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".marketing">Marketing</a></li>
          <li><a href="#" data-filter=".articles">Published Articles</a></li>
          <li><a href="#" data-filter=".seo">Content Optimization for SEO and UX</a></li>
          <li><a href="#" data-filter=".video">Video Scripts</a></li>
          <li><a href="#" data-filter=".print">Print</a></li>
          <li><a href="#" data-filter=".blogs">SEO Blogs</a></li>
        </ul>
      </div>
      <div class="dizme_tm_portfolio_titles"></div>
      <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
        {{ if gt (len .Site.Data.portfolio) 0 }}
        <ul class="gallery_zoom grid">
          {{ range sort .Site.Data.portfolio "weight" }}
          <li class="{{ .filter }} grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="{{ .title }}" data-category="{{ .category }}">
                <a class="{{ .class }}" href="{{ .link_url }}" target="{{ .target }}">
                  <img src="{{ .thumb }}" alt="{{ .subtitle }}" />
                  <div class="main" data-img-url="{{ .image }}"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>{{ .title }}</p>
                <h3>{{ .subtitle }}</h3>
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <div class="brush_1 wow zoomIn" data-wow-duration="1s"><img src="img/brushes/portfolio/1.png" alt="" /></div>
    <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/portfolio/2.png" alt="" /></div>
  </div>
</div>
<!-- /PORTFOLIO -->
