<!-- PORTFOLIO -->
<div class="dizme_tm_section" id="portfolio">
  <div class="dizme_tm_portfolio">
    <div class="container">
      <div class="dizme_tm_main_title" data-align="center">
        <span>Content Marketing Portfolio</span>
        <h3>Some of My Writing Projects</h3>
        <p>Is there a little introduction we could put here to describe what's in this section? Or just to describe what an amazing, mind-blowing, brilliant, creative genius you are?</p>
      </div>
      <div class="portfolio_filter">
        <ul>
          <li><a href="#" class="current" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".popup">Marketing</a></li>
          <li><a href="#" data-filter=".vimeo">Published Articles</a></li>
          <li><a href="#" data-filter=".soundcloud">Content Optimization for SEO and UX</a></li>
          <li><a href="#" data-filter=".vimeo">Video Scripts</a></li>
          <li><a href="#" data-filter=".detail">Print</a></li>
          <li><a href="#" data-filter=".detail">SEO Blogs</a></li>
        </ul>
      </div>
      <div class="dizme_tm_portfolio_titles"></div>
      <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
        <ul class="gallery_zoom grid">
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="You know what defines our nation. Now define your career." data-category="Marketing">
                <a class="zoom" href="img/portfolio/Norwich-defineyourcareer.jpg">
                  <img src="img/thumbs/Norwich-defineyourcareer.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/Norwich-defineyourcareer.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>You know what defines our nation. Now define your career.</h3>
                <span>Norwich University</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Drive groundbreaking discoveries." data-category="Marketing">
                <a class="zoom" href="img/portfolio/ASU-makeyournextturndriving.jpg">
                  <img src="img/thumbs/ASU-makeyournextturndriving-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/ASU-makeyournextturndriving.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>Drive groundbreaking discoveries.</h3>
                <span>ASU Online</span>
              </div>
            </div>
          </li>
          <li class="vimeo grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="The Clemson Ring" data-category="Vimeo">
                <a class="popup-vimeo" href="https://vimeo.com/555007416">
                  <img src="img/thumbs/clemson-rings-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/clemson-rings.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>The Clemson Ring</h3>
                <span>Your ring is your story. Wear it with pride.</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Do more than lead the industry. Transform it." data-category="Marketing">
                <a target="_blank" href="img/portfolio/socanyou-USC.pdf">
                  <img src="img/thumbs/socanyou-USC.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/socanyou-USC.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>Do more than lead the industry. Transform it.</h3>
                <span>USC Annenberg</span>
              </div>
            </div>
          </li>
          <li class="vimeo grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Hartford South Corporate Video Script" data-category="Vimeo">
                <a class="popup-vimeo" href="https://vimeo.com/290919177">
                  <img src="img/thumbs/hartford-south-script-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/hartford-south-script.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>Hartford South</h3>
                <span>Rethink your roofing.</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Norwich University Ad Copy" data-category="Marketing">
                <a class="zoom" href="img/portfolio/Norwich-ad-studythepast.jpg">
                  <img src="img/thumbs/Norwich-ad-studythepast.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/Norwich-ad-studythepast.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>Norwich University Ad Copy</h3>
                <span>Marketing</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="ASU Online Marketing Email" data-category="Marketing">
                <a class="zoom" href="img/portfolio/ASU-impacthealthoutcomes.jpg">
                  <img src="img/thumbs/ASU-impacthealthoutcomes-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/ASU-impacthealthoutcomes.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>ASU Online Marketing Email</h3>
                <span>Marketing</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="ASIMTUFII Ad Copy" data-category="Marketing">
                <a class="zoom" href="img/portfolio/day56-pharma.jpg">
                  <img src="img/thumbs/day56-pharma.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/day56-pharma.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>ASIMTUFII Ad Copy</h3>
                <span>Marketing</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="GW Ad Copy" data-category="Marketing">
                <a class="zoom" href="img/portfolio/GW-headlines.jpg">
                  <img src="img/thumbs/GW-headlines.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/GW-headlines.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>GW Ad Copy</h3>
                <span>Marketing</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Norwich University Ad Copy" data-category="Marketing">
                <a class="zoom" href="img/portfolio/Norwich-ad-historyrunsdeep.jpg">
                  <img src="img/thumbs/Norwich-ad-historyrunsdeep.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/Norwich-ad-historyrunsdeep.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>Norwich University Ad Copy</h3>
                <span>Marketing</span>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="GW Online Marketing Email" data-category="Marketing">
                <a class="zoom" href="img/portfolio/GW-makeyourmark.jpg">
                  <img src="img/thumbs/GW-makeyourmark-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/GW-makeyourmark.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>GW Online Marketing Email</h3>
                <span>Marketing</span>
              </div>
            </div>
          </li>
          <li class="detail grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Global Evolution" data-category="Detail">
                <a class="portfolio_popup" href="#">
                  <img src="img/thumbs/42-34.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/6.jpg"></div>
                </a>
              </div>
              <div class="mobile_title">
                <h3>Full page example</h3>
                <span>Detail</span>
              </div>

              <div class="hidden_content">
                <div class="popup_details">
                  <div class="main_details">
                    <div class="textbox">
                      <p>I'm baby dreamcatcher copper mug prism, shoreditch humblebrag lomo venmo.</p>
                      <p>Thundercats swag schlitz everyday carry vape ennui man braid organic portland kinfolk. Quinoa disrupt post-ironic art party 90's. +1 artisan pug, farm-to-table keffiyeh tumeric messenger bag polaroid mixtape food truck kickstarter tbh lo-fi prism seitan.</p>
                    </div>
                    <div class="detailbox">
                      <ul>
                        <li>
                          <span class="first">Client</span>
                          <span>ASU</span>
                        </li>
                        <li>
                          <span class="first">Category</span>
                          <span><a href="#">Detail</a></span>
                        </li>
                        <li>
                          <span class="first">Date</span>
                          <span>March 07, 2021</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="additional_images">
                    <ul>
                      <li>
                        <div class="list_inner">
                          <div class="my_image">
                            <img src="img/thumbs/4-2.jpg" alt="" />
                            <div class="main" data-img-url="img/portfolio/1.jpg"></div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <div class="my_image">
                            <img src="img/thumbs/4-2.jpg" alt="" />
                            <div class="main" data-img-url="img/portfolio/2.jpg"></div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <div class="my_image">
                            <img src="img/thumbs/4-2.jpg" alt="" />
                            <div class="main" data-img-url="img/portfolio/3.jpg"></div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="brush_1 wow zoomIn" data-wow-duration="1s"><img src="img/brushes/portfolio/1.png" alt="" /></div>
    <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/portfolio/2.png" alt="" /></div>
  </div>
</div>
<!-- /PORTFOLIO -->
