<!-- PORTFOLIO -->
<div class="dizme_tm_section" id="portfolio">
  <div class="dizme_tm_portfolio">
    <div class="container">
      <div class="dizme_tm_main_title" data-align="center">
        <span>Content Marketing Portfolio</span>
        <h3>Some of My Writing Projects</h3>
        <p>Is there a little introduction we could put here to describe what's in this section? Or just to describe what an amazing, mind-blowing, brilliant, creative genius you are?</p>
      </div>
      <div class="portfolio_filter">
        <ul>
          <li><a href="#" class="current" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".popup">Marketing</a></li>
          <li><a href="#" data-filter=".vimeo">Published Articles</a></li>
          <li><a href="#" data-filter=".soundcloud">Content Optimization for SEO and UX</a></li>
          <li><a href="#" data-filter=".vimeo">Video Scripts</a></li>
          <li><a href="#" data-filter=".detail">Print</a></li>
          <li><a href="#" data-filter=".detail">SEO Blogs</a></li>
        </ul>

        <select>
          <option value="" selected="selected">Filter</option>

          <option value="#" data-filter=".popup">Marketing</option>
          <option value="#" data-filter=".popup">Published Articles</option>
          <option value="#" data-filter=".popup">Content Optimization for SEO and UX</option>
          <option value="#" data-filter=".vimeo">Video Scripts</option>
          <option value="#" data-filter=".detail">Print</option>
          <option value="#" data-filter=".detail">SEO Blogs</option>
        </select>

      </div>
      <div class="dizme_tm_portfolio_titles"></div>
      <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
        <ul class="gallery_zoom grid">
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="If a hashtag can change a conversation, #SoCanYou" data-category="Marketing">
                <a class="zoom" href="img/portfolio/USC-hashtagchange.jpg">
                  <img src="img/thumbs/USC-hashtagchange.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/USC-hashtagchange.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>If a hashtag can change a conversation, #SoCanYou</p>
                <h3>USC Annenberg</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="You know what defines our nation. Now define your career." data-category="Marketing">
                <a class="zoom" href="img/portfolio/Norwich-defineyourcareer.jpg">
                  <img src="img/thumbs/Norwich-defineyourcareer.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/Norwich-defineyourcareer.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>You know what defines our nation. Now define your career.</p>
                <h3>Norwich University</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="In a sea of uncertainty, make her unsinkable." data-category="Marketing">
                <a class="zoom" href="img/portfolio/unsinkable-pharma.jpg">
                  <img src="img/thumbs/unsinkable-pharma-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/unsinkable-pharma.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>In a sea of uncertainty, make her unsinkable.</p>
                <h3>ASIMTUFII</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Drive groundbreaking discoveries." data-category="Marketing">
                <a class="zoom" href="img/portfolio/ASU-makeyournextturndriving.jpg">
                  <img src="img/thumbs/ASU-makeyournextturndriving-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/ASU-makeyournextturndriving.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Drive groundbreaking discoveries.</p>
                <h3>ASU Online</h3>
              </div>
            </div>
          </li>
          <li class="vimeo grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Your ring is your story. Wear it with pride." data-category="Video Scripts">
                <a class="popup-vimeo" href="https://vimeo.com/555007416">
                  <img src="img/thumbs/clemson-rings-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/clemson-rings.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Your ring is your story. Wear it with pride.</p>
                <h3>The Clemson Ring</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Do more than lead the industry. Transform it." data-category="Marketing">
                <a target="_blank" href="img/portfolio/socanyou-USC.pdf">
                  <img src="img/thumbs/socanyou-USC.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/socanyou-USC.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Do more than lead the industry. Transform it.</p>
                <h3>USC Annenberg</h3>
              </div>
            </div>
          </li>
          <li class="vimeo grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Rethink your roofing." data-category="Vimeo">
                <a class="popup-vimeo" href="https://vimeo.com/290919177">
                  <img src="img/thumbs/hartford-south-script-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/hartford-south-script.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Rethink your roofing.</p>
                <h3>Hartford South</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Study the past events that have shaped our world." data-category="Marketing">
                <a class="zoom" href="img/portfolio/Norwich-ad-studythepast.jpg">
                  <img src="img/thumbs/Norwich-ad-studythepast.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/Norwich-ad-studythepast.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Study the past events that have shaped our world.</p>
                <h3>Norwich University</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Impact health outcomes." data-category="Marketing">
                <a class="zoom" href="img/portfolio/ASU-impacthealthoutcomes.jpg">
                  <img src="img/thumbs/ASU-impacthealthoutcomes-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/ASU-impacthealthoutcomes.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Impact health outcomes.</p>
                <h3>ASU Online</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Today Marks Day 56." data-category="Marketing">
                <a class="zoom" href="img/portfolio/day56-pharma.jpg">
                  <img src="img/thumbs/day56-pharma.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/day56-pharma.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Today Marks Day 56.</p>
                <h3>ASIMTUFII</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="One click can make headlines. Be ready for anything." data-category="Marketing">
                <a class="zoom" href="img/portfolio/GW-headlines.jpg">
                  <img src="img/thumbs/GW-headlines.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/GW-headlines.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>One click can make headlines. Be ready for anything.</p>
                <h3>The George Washington University</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Our history runs deep. Your knowledge can too." data-category="Marketing">
                <a class="zoom" href="img/portfolio/Norwich-ad-historyrunsdeep.jpg">
                  <img src="img/thumbs/Norwich-ad-historyrunsdeep.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/Norwich-ad-historyrunsdeep.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Our history runs deep. Your knowledge can too.</p>
                <h3>Norwich University</h3>
              </div>
            </div>
          </li>
          <li class="popup grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Make Your Mark on Society." data-category="Marketing">
                <a class="zoom" href="img/portfolio/GW-makeyourmark.jpg">
                  <img src="img/thumbs/GW-makeyourmark-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/GW-makeyourmark.jpg"></div>
                </a>
              </div>
              <div class="inner_detail">
                <p>Make Your Mark on Society.</p>
                <h3>The George Washington University</h3>
              </div>
            </div>
          </li>
          <li class="detail grid-item">
            <div class="inner">
              <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Our communicators shape the industry." data-category="Marketing">
                <a class="portfolio_popup" href="#">
                  <img src="img/thumbs/USC-ad-commsshapedhistory-thumb.jpg" alt="" />
                  <div class="main" data-img-url="img/portfolio/USC-ad-commsshapedhistory.jpg"></div>
                </a>
              </div>
              <div class="hidden_content">
                <div class="popup_details">
                  <div class="main_details">
                    <iframe src="img/portfolio/USC-ad-commsshapedhistory.pdf" width="100%" height="500px"></iframe>
                  </div>
              </div>
            </div>
            <div class="inner_detail">
              <p>Our communicators shape the industry.</p>
              <h3>USC Annenberg</h3>
            </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="brush_1 wow zoomIn" data-wow-duration="1s"><img src="img/brushes/portfolio/1.png" alt="" /></div>
    <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/portfolio/2.png" alt="" /></div>
  </div>
</div>
<!-- /PORTFOLIO -->
