<!-- TESTIMONIALS -->
<div class="dizme_tm_section">
  <div class="dizme_tm_testimonials">
    <div class="dizme_tm_main_title" data-align="center">
      <span>Testimonials</span>
      <h3>What People Say</h3>
      <p>Besides digging in and generating the best creative work I can, I'm pretty excited about building relationships too.</p>
    </div>
    <div class="list_wrapper">
      <div class="total">
        <div class="in">
          <ul class="owl-carousel owl-theme">
            <li>
              <div class="icon">
                <img class="svg" src="img/svg/testimonials/quote.svg" alt="" />
              </div>
              <div class="text">
                <p>Lindsay is an energetic creative force bringing her whole self to every project. She is always ready for the next assignment and knocks it out of the park. Lindsay is talented at writing in a brand's voice and takes feedback like a pro. I highly recommend her!</p>
              </div>
              <div class="short">
                <div class="image">
                  <div class="main" data-img-url="img/testimonials/4.jpg"></div>
                </div>
                <div class="detail">
                  <h3>Elizabeth H.</h3>
                  <span>Colleague</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="left_details">
          <span class="circle green animPulse"></span>
          <span class="circle yellow animPulse"></span>
          <span class="circle border animPulse"></span>
        </div>
        <div class="right_details">
          <span class="circle yellow animPulse"></span>
          <span class="circle purple animPulse"></span>
          <span class="circle border animPulse"></span>
        </div>
      </div>
    </div>
    <div class="brush_1 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/testimonials/1.png" alt="" /></div>
  </div>
</div>
<!-- /TESTIMONIALS -->
