<!-- TESTIMONIALS -->
<div class="dizme_tm_section">
  <div class="dizme_tm_testimonials">
    <div class="dizme_tm_main_title" data-align="center">
      {{ with .Site.Data.testimonial.banner }}
      <span>{{ .heading }}</span>
      <h3>{{ .subheading }}</h3>
      <p>{{ .description }}</p>
      {{ end }}
    </div>
    {{ with .Site.Data.testimonial.item }}
    <div class="list_wrapper">
      <div class="total">
        <div class="in">
          <ul class="owl-carousel owl-theme">
            {{ range .inside }}
            <li>
              <div class="icon">
                <img class="svg" src="img/svg/testimonials/quote.svg" alt="decorative quotation mark image" />
              </div>
              <div class="text">
                <p>{{ .text }}</p>
              </div>
              <div class="short">
                <div class="image">
                  <div class="main" data-img-url="{{ .image }}"></div>
                </div>
                <div class="detail">
                  <h3>{{ .name }}</h3>
                  <span>{{ .relation }}</span>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="left_details">
          <span class="circle green animPulse"></span>
          <span class="circle yellow animPulse"></span>
          <span class="circle border animPulse"></span>
        </div>
        <div class="right_details">
          <span class="circle yellow animPulse"></span>
          <span class="circle purple animPulse"></span>
          <span class="circle border animPulse"></span>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="brush_1 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/testimonials/1.png" alt="" /></div>
  </div>
</div>
<!-- /TESTIMONIALS -->
